
<div class="help-block">
    <p>
        Detta är startsidan för Admin sektionen av hemsidan. Inte så mycket att se här.
    </p>
    <p>
        Finns massa kul till vänster där dock!
    </p>
</div>