@model StatisticsViewModel

<h2>Statestik</h2>



@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
            asp-fallback-test="window.Chart"
            asp-fallback-src="~/lib/Chart.js/Chart.bundle.min.js"></script>
}
