@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Åtkomst nekad";
    ViewData["Message"] = "Du har inte tillgång till denna resurs."
}

<p>
    <a asp-controller="Home" asp-action="Index">Klicka här</a> för att återgå till startsidan.
</p>