@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-post bekräftad";
    ViewData["Message"] = "Din e-post har nu blivit bekräftad.";
}

<p>
    <a asp-controller="Home" asp-action="Index">Klicka här</a> för att återgå till startsidan.
</p>