@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Glömt lösenord? - Mail skickat!";
    ViewData["Message"] = "Var god kolla ditt e-post konto för återställningslänken.";
}

<p>
    <a asp-controller="Home" asp-action="Index">Klicka här</a> för att återgå till startsidan.
</p>

