@page
@model LockoutModel
@{
    ViewData["Title"] = "Utelåst";
}

<header>
    <h4 class="text-danger">@ViewData["Title"]</h4>
    <p class="text-danger">Detta konto har blivit låst. Var god försök igen senare.</p>
</header>

<p>
    <a asp-controller="Home" asp-action="Index">Klicka här</a> för att återgå till startsidan.
</p>