@page
@model LogoutModel
@{
    ViewData["Title"] = "Logga ut";
    ViewData["Message"] = "Du har nu blivit utloggad.";
}

<p>
    <a asp-controller="Home" asp-action="Index">Klicka här</a> för att återgå till startsidan.
</p>
<p>
    <a asp-area="Identity" asp-page="/Account/Login">Klicka här</a> för att logga in igen.
</p>