@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Lösenord återställt";
    ViewData["Message"] = "Ditt lösenord har blivit återställt.";
}

<p>
    <a asp-area="Identity" asp-page="/Account/Login">Klicka här</a> för att logga in igen.
</p>