@using Microsoft.AspNetCore.Identity
@inject UserManager<NauktionUser> UserManager
@model List<AuktionBudViewModel>

@{
    var list1 = Model.EveryOther();
    var list2 = Model.Skip(1).EveryOther();
}

<article class="row">
    <div class="col-sm-6">
        @foreach (AuktionBudViewModel m in list1)
        {
            <partial name="_AuktionPreviewPartialView" model="@m" />
        }
    </div>

    <div class="col-sm-6">
        @foreach (AuktionBudViewModel m in list2)
        {
            <partial name="_AuktionPreviewPartialView" model="@m" />
        }
    </div>
</article>
@if (Model.Count == 0)
{
    <article>
        <i class="text-muted">(Det finns inga öppna auktioner just nu. Titta förbi senare!)</i>
    </article>
}
