@using Microsoft.AspNetCore.Identity
@inject SignInManager<NauktionUser> SignInManager
@{
    Layout = "_LayoutWithoutHeader";
}

<h2>@ViewData["Title"]</h2>
<div>
    @if (!string.IsNullOrWhiteSpace(ViewData["Message"] as string))
    {
        <h4>@ViewData["Message"]</h4>
    }
    <hr/>
    <div>
        @RenderBody()
    </div>
</div>

@section Scripts
{
    @RenderSection("Scripts", required: false)
}
