@using Microsoft.AspNetCore.Identity
@inject SignInManager<NauktionUser> SignInManager
@inject UserManager<NauktionUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav nav-pills pull-right">
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hej, @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">Logga ut</a>
        </li>
    </ul>
}
else
{
    <ul class="nav nav-pills pull-right">
        <li><a asp-area="Identity" asp-page="/Account/Login">Logga in</a></li>
    </ul>
}
