@{
    ViewData["Title"] = "Om Nauktion";
    ViewData["Message"] = "Information om hemsidan";
}

<p>Låt oss sätta upp det konkret:</p>

<ul>
    <li>Bra skit</li>
    <li>Du kan buda på grejer</li>
    <li>Coola kidsen kan göra nya auktioner (coming soon to a theather near you)</li>
    <li>Bra skit</li>
</ul>

<p>Vill du veta mer? Besök <a href="https://facebook.se/nauktion" onclick="window.open('http://www.sanger.dk/', '_blank'); return false;">vår Facebook sida <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>.</p>