@{
    ViewData["Title"] = "Kontakta oss";
    ViewData["Message"] = "Ha! Du trodde";
}

<p>
    Vi på Nauktion har valt att inte föra kommunikation med lägre stående varelser.
</p>
<p>
    Behöver du hjälp? <strong>Ring polia.</strong>
</p>
<p>
    Har du ett klagomål? <strong>Synd.</strong>
</p>