@{
    ViewData["Title"] = "Kontakta oss";
}
<h2>@ViewData["Title"]</h2>
<h3>Ha! Du trodde</h3>


<p>
    Vi på Nauktion har valt att inte föra kommunikation med lägre stående varelser.
</p>
<p>
    Behöver du hjälp? <strong>Ring polia.</strong>
</p>
<p>
    Har du ett klagomål? <strong>Synd.</strong>
</p>