@{
    ViewData["Title"] = "Registrera dig idag!";
}
    
<div class="jumbotron">
    <h1>Börja buda på auktioner!</h1>
    <p class="lead">Gå med i hemsidan för att vara med och buda på våra kalas auktioner REDAN IDAG! WOAO</p>
    <p><a class="btn btn-lg btn-success" asp-area="Identity" asp-page="/Account/Register" role="button">Registrera dig idag!</a></p>
</div>
