@{
    ViewData["Title"] = "Integritetspolicy";
}
<h2>@ViewData["Title"]</h2>

<p>Det står inget här just nu. Det var inte med i uppgiften ändå.</p>
<p>Läs gärna det här och skaka sådär jättelite på huvudet i förståelse som att du skulle läsa en ytterst utförlig och nyanserad integritetspolicy.
    Du kan hålla om din haka också för att se ännu mer fokuserad på denna djupa läsning.</p>
<p>Tack för din inlevelse. Nu kan du gå tillbaka till hemsidan genom att <a asp-controller="Home" asp-action="Index" title="❤️">klicka här</a>.</p>
