@using Nauktion.Helpers
@using Nauktion.Models
@inject UserManager<NauktionUser> UserManager
@{
    ViewData["Title"] = "Mitt konto";
    ViewData["Message"] = "Ändra kontoinställningar";
    Layout = "/Views/Shared/_LayoutWithHeader.cshtml";

    NauktionRoles highestRole = (await UserManager.GetNauktionRolesAsync(User)).HighestRole();
    string label = highestRole.RoleLabelClassColor();
}

<div class="row">
    <div class="col-xs-12">
        <h4 class="text-right">
            <span>
                Account rank:
                <span class="label @label">@highestRole.ToString()</span>
            </span>
        </h4>
    </div>

    <div class="col-md-3">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
